/*  your css code here. If applicable */
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
	height: 100vh;
}
.left{
	width: 450px;
	margin-top: 70px;
	display: inline-block;
}
form{
	display: flex;
	width: 300px;
	background-color: white;
	padding: 20px; 
	border-radius: 5px;
	box-shadow: 0 0 10pz #ccc;
	flex-direction: column;
	gap: 10px;
}
.btn{
	border: none;
	border-radius: 5px;
	padding: 10px;
	background-color: #1877f2;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
}
input{
	border: 1pz solid #ccc;
	border-radius: 5px;
}
.signup{
	background-color: #42b72a;
	height: 35px;
	border: none;
	border-radius: 4px;
	color: white;
	
}
img{
	width: 400px;
}
.blue{
	color: blue;
}
.name{
	height: 30px;
}
.email{
	height: 30px;
}



